Repository djessup/speakr: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-core, cargo-clippy-core, cargo-test-core, cargo-fmt-tauri, cargo-clippy-tauri, cargo-test-tauri, cargo-fmt-ui, cargo-clippy-ui, cargo-test-ui, cargo-fmt-workspace, cargo-clippy-workspace, cargo-test-integration

cargo-fmt-core:
  name: Cargo Format (speakr-core)
  entry: cargo fmt --package speakr-core --check
  language: system
  pass_filenames: false

cargo-clippy-core:
  name: Cargo Clippy (speakr-core)
  entry: cargo clippy --package speakr-core --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-core:
  name: Cargo Test (speakr-core)
  entry: cargo test --package speakr-core
  language: system
  pass_filenames: false

cargo-fmt-tauri:
  name: Cargo Format (speakr-tauri)
  entry: cargo fmt --package speakr-tauri --check
  language: system
  pass_filenames: false

cargo-clippy-tauri:
  name: Cargo Clippy (speakr-tauri)
  entry: cargo clippy --package speakr-tauri --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-tauri:
  name: Cargo Test (speakr-tauri)
  entry: cargo test --package speakr-tauri
  language: system
  pass_filenames: false

cargo-fmt-ui:
  name: Cargo Format (speakr-ui)
  entry: cargo fmt --package speakr-ui --check
  language: system
  pass_filenames: false

cargo-clippy-ui:
  name: Cargo Clippy (speakr-ui)
  entry: cargo clippy --package speakr-ui --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-ui:
  name: Cargo Test (speakr-ui)
  entry: cargo test --package speakr-ui
  language: system
  pass_filenames: false

cargo-fmt-workspace:
  name: Cargo Format (workspace files)
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-clippy-workspace:
  name: Cargo Clippy (workspace check)
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-integration:
  name: Cargo Test (integration - core affects tauri)
  entry: cargo test --package speakr-tauri
  language: system
  pass_filenames: false

feat(kiro): imported FR-9
  .kiro/specs/auto-update/design.md
  .kiro/specs/auto-update/requirements.md
  .kiro/specs/auto-update/tasks.md
Due: none

chore(pre-commit): add hooks to run cargo fmt and clippy auto-fixes
  .pre-commit-config.yaml
Due: none

chore(github-actions): add reusable setup-devenv action to workflow
  .github/workflows/docs.yml
  .github/workflows/setup-devenv/action.yml
Due: none

feat(workflow): implement dictation workflow orchestration
  .pre-commit-config.yaml
  speakr-tauri/Cargo.toml
  speakr-tauri/capabilities/default.json
  speakr-tauri/src/lib.rs
  speakr-tauri/src/services/hotkey.rs
  speakr-tauri/src/workflow.rs
  speakr-tauri/tests/workflow_tests.rs
  speakr-types/src/lib.rs
Due: cargo-fmt-tauri, cargo-clippy-tauri, cargo-test-tauri

chore(editorconfig): update indentation settings for Rust files
  .editorconfig
  .prettierrc.yml
  devenv.nix
  devenv.yaml
Due: none

chore(vscode): update launch and task configurations
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

chore(github-actions): add test workflow for automated testing
  .github/workflows/install-mdbook/action.yml
  .github/workflows/test.yml
Due: none

feat(kiro): imported non-functional requirements
  .kiro/specs/nfr-footprint/design.md
  .kiro/specs/nfr-footprint/requirements.md
  .kiro/specs/nfr-footprint/tasks.md
  .kiro/specs/nfr-latency/design.md
  .kiro/specs/nfr-latency/requirements.md
  .kiro/specs/nfr-latency/tasks.md
  .kiro/specs/nfr-reliability/design.md
  .kiro/specs/nfr-reliability/requirements.md
  .kiro/specs/nfr-reliability/tasks.md
  .kiro/steering/nfr-integration.md
  .kiro/steering/preferences.md
Due: none

chore(kiro): renamed kiro specs to include fr-N prefix
  .kiro/specs/fr-1-global-hotkey/design.md
  .kiro/specs/fr-1-global-hotkey/requirements.md
  .kiro/specs/fr-1-global-hotkey/tasks.md
  .kiro/specs/fr-2-audio-capture/design.md
  .kiro/specs/fr-2-audio-capture/requirements.md
  .kiro/specs/fr-2-audio-capture/tasks.md
  .kiro/specs/fr-3-transcription/design.md
  .kiro/specs/fr-3-transcription/requirements.md
  .kiro/specs/fr-3-transcription/tasks.md
  .kiro/specs/fr-4-text-injection/design.md
  .kiro/specs/fr-4-text-injection/requirements.md
  .kiro/specs/fr-4-text-injection/tasks.md
  .kiro/specs/fr-5-injection-fallback/design.md
  .kiro/specs/fr-5-injection-fallback/requirements.md
  .kiro/specs/fr-5-injection-fallback/tasks.md
  .kiro/specs/fr-6-settings-ui/design.md
  .kiro/specs/fr-6-settings-ui/requirements.md
  .kiro/specs/fr-6-settings-ui/tasks.md
  .kiro/specs/fr-7-status-events/design.md
  .kiro/specs/fr-7-status-events/requirements.md
  .kiro/specs/fr-7-status-events/tasks.md
  .kiro/specs/fr-8-settings-persistence/design.md
  .kiro/specs/fr-8-settings-persistence/requirements.md
  .kiro/specs/fr-8-settings-persistence/tasks.md
  .kiro/specs/fr-9-auto-update/design.md
  .kiro/specs/fr-9-auto-update/requirements.md
  .kiro/specs/fr-9-auto-update/tasks.md
Due: none

refactor(settings): improve code formatting and consistency in settings.rs
  speakr-ui/src/settings.rs
Due: cargo-fmt-ui, cargo-clippy-ui, cargo-test-ui

feat(settings): enhance settings integration and documentation
  .kiro/specs/fr-1-global-hotkey/tasks.md
  .kiro/specs/fr-2-audio-capture/tasks.md
  .kiro/steering/tauri-tdd-practices.md
  README.md
  docs/ARCHITECTURE.md
  docs/CHANGELOG_CONSTANTS.md
  docs/DEVELOPMENT_OVERVIEW.md
  docs/SYSTEM_DESCRIPTION.md
  docs/specs/FR-1-global-hotkey.md
  docs/specs/FR-2-audio-capture.md
  docs/specs/reports/FR-1-global-hotkey-report.md
  speakr-tauri/Cargo.toml
  speakr-tauri/src/debug/commands.rs
  speakr-tauri/src/lib.rs
  speakr-tauri/src/services/hotkey.rs
  speakr-tauri/src/settings/commands.rs
  speakr-tauri/src/settings/migration.rs
  speakr-tauri/src/settings/mod.rs
  speakr-tauri/src/settings/persistence.rs
  speakr-tauri/src/settings/traits.rs
  speakr-tauri/src/workflow.rs
  speakr-tauri/tests/audio_tests.rs
  speakr-tauri/tests/global_hotkey.rs
  speakr-tauri/tests/hotkey_tests.rs
  speakr-tauri/tests/integration_tests.rs
  speakr-tauri/tests/settings_tests.rs
  speakr-tauri/tests/test_utils.rs
  speakr-tauri/tests/workflow_tests.rs
  speakr-types/src/lib.rs
Due: cargo-fmt-tauri, cargo-clippy-tauri, cargo-test-tauri

fix(devenv): fix environment configuration on non macOS platforms
  devenv.nix
Due: none

feat(devenv): add Linux-specific libraries for Tauri and native dependencies
  devenv.nix
Due: none

fix(devenv): update Linux-specific libraries for Tauri and native dependencies
  devenv.nix
Due: none

feat(rules): add new documentation rules for Context7, Semgrep, Time tools, and Tauri command wrappers
  .cursor/rules/project-steering/speakr-development.mdc
  .cursor/rules/project-steering/tauri-command-wrappers.mdc
  .cursor/rules/project-steering/tauri.mdc
  .cursor/rules/tool-context7.mdc
  .cursor/rules/tool-semgrep.mdc
  .cursor/rules/tool-time.mdc
Due: none

feat(dependencies): update whisper-rs features and add Cargo configuration
  speakr-core/.cargo/config.toml
  speakr-core/Cargo.toml
Due: none

feat(security): implement comprehensive serde security improvements
  speakr-tauri/Cargo.toml
  speakr-tauri/src/debug/types.rs
  speakr-tauri/src/services/types.rs
  speakr-tauri/src/settings/persistence.rs
  speakr-tauri/tests/settings_tests.rs
  speakr-types/src/lib.rs
Due: cargo-fmt-tauri, cargo-clippy-tauri, cargo-test-tauri

docs: update documentation for serde security improvements
  README.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT_OVERVIEW.md
  docs/SECURITY_CHANGELOG.md
  docs/SYSTEM_DESCRIPTION.md
  docs/specs/NFR-security.md
Due: none

chore(rules) cleanup rules organisation, add more steering
  .cursor/rules/agent-communication-style.mdc
  .cursor/rules/agent-context7-docs.mdc
  .cursor/rules/context7.mdc
  .cursor/rules/project-steering/refactoring-insights.mdc
  .cursor/rules/project-steering/rust-tdd.mdc
  .cursor/rules/project-steering/speakr-1_product.mdc
  .cursor/rules/project-steering/speakr-2_structure.mdc
  .cursor/rules/project-steering/speakr-3_development.mdc
  .cursor/rules/project-steering/speakr-development.mdc
  .cursor/rules/project-steering/speakr_nfr-integration.mdc
  .cursor/rules/project-steering/tauri-tdd-practices.mdc
  .cursor/rules/project-steering/tauri_general.mdc
  .cursor/rules/project-steering/tech.md
  .cursor/rules/project-steering/test-isolation.mdc
  .cursor/rules/rust-visibility-patterns.mdc
  .cursor/rules/tauri-command-wrappers.mdc
  .cursor/rules/tauri.mdc
  .cursor/rules/tool-semgrep.mdc
  .cursor/rules/tool-time.mdc
  .cursor/rules/tools/tool-context7.mdc
  .cursor/rules/tools/tool-semgrep.mdc
  .cursor/rules/tools/tool-time.mdc
Due: none

feat(transcription): create transcription module structure
  speakr-core/src/lib.rs
  speakr-core/src/transcription/engine.rs
  speakr-core/src/transcription/language.rs
  speakr-core/src/transcription/mod.rs
  speakr-core/src/transcription/models.rs
  speakr-core/src/transcription/performance.rs
Due: cargo-fmt-core, cargo-clippy-core, cargo-test-core, cargo-test-integration

docs: update documentation for transcription module structure
  .kiro/specs/fr-3-transcription/tasks.md
  README.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT_OVERVIEW.md
  docs/SYSTEM_DESCRIPTION.md
Due: none

feat(types): add transcription types and enums
  speakr-types/src/lib.rs
Due: none

docs: fix linting issues in documentation
  .kiro/specs/fr-3-transcription/tasks.md
  README.md
  docs/ARCHITECTURE.md
  docs/SYSTEM_DESCRIPTION.md
  docs/specs/FR-3-transcription.md
  speakr-types/src/lib.rs
Due: none

chore: mark task 1.2 as completed in FR-3 tasks
  .kiro/specs/fr-3-transcription/tasks.md
Due: none

feat(transcription): implement ModelManager download, checksum and cache (task 2.1)
  speakr-core/Cargo.toml
  speakr-core/src/transcription/models.rs
  speakr-core/tests/model_manager.rs
Due: cargo-fmt-core, cargo-clippy-core, cargo-test-core, cargo-test-integration

chore: update documentation for transcription module and fix formatting issues
  docs/ARCHITECTURE.md
  docs/specs/FR-3-transcription.md
  speakr-core/Cargo.toml
  speakr-core/src/transcription/models.rs
  speakr-types/src/lib.rs
Due: cargo-fmt-core, cargo-clippy-core, cargo-test-core, cargo-test-integration

docs(transcription): sync docs for ModelManager implementation (task 2.1)
  .kiro/specs/fr-3-transcription/tasks.md
  docs/ARCHITECTURE.md
  docs/specs/FR-3-transcription.md
Due: none

fix(transcription): correct sysinfo config and memory estimates
  .kiro/specs/fr-3-transcription/tasks.md
  docs/ARCHITECTURE.md
  speakr-core/Cargo.toml
  speakr-core/src/model/list.rs
  speakr-core/src/transcription/models.rs
  speakr-core/tests/model_availability.rs
Due: cargo-fmt-core, cargo-clippy-core, cargo-test-core, cargo-test-integration

feat(transcription): add core TranscriptionEngine with stub transcribe, model switching and config handling
  .kiro/specs/fr-3-transcription/tasks.md
  speakr-core/Cargo.toml
  speakr-core/src/transcription/engine.rs
Due: cargo-fmt-core, cargo-clippy-core, cargo-test-core, cargo-test-integration

feat(transcription): add performance monitoring and async processing
  .kiro/specs/fr-3-transcription/tasks.md
  speakr-core/src/transcription/engine.rs
  speakr-core/src/transcription/performance.rs
  speakr-core/tests/performance_monitor.rs
  speakr-types/src/lib.rs
Due: cargo-fmt-core, cargo-clippy-core, cargo-test-core, cargo-test-integration

feat(transcription): comprehensive error handling and memory fallback
  speakr-core/src/transcription/engine.rs
  speakr-types/src/lib.rs
Due: cargo-fmt-core, cargo-clippy-core, cargo-test-core, cargo-test-integration

docs(fr-3): sync tasks and architecture for error handling improvements
  .kiro/specs/fr-3-transcription/tasks.md
  docs/ARCHITECTURE.md
Due: none

docs(testing): add SPEAKR_MODEL_BASE_URL env var and offline download strategy
  .kiro/specs/fr-3-transcription/tasks.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT_OVERVIEW.md
  speakr-core/src/model/list.rs
  speakr-core/src/transcription/engine.rs
  speakr-core/src/transcription/models.rs
  speakr-types/src/lib.rs
Due: cargo-fmt-core, cargo-clippy-core, cargo-test-core, cargo-test-integration

feat(pipeline): integrate audio samples into transcription pipeline
  .kiro/specs/fr-3-transcription/tasks.md
  speakr-core/src/lib.rs
  speakr-core/src/pipeline.rs
Due: cargo-fmt-core, cargo-clippy-core, cargo-test-core, cargo-test-integration

chore: clean up .envrc by removing unnecessary blank line
  .envrc
Due: none

docs(architecture): document new pipeline module in crate layout
  docs/ARCHITECTURE.md
Due: none

feat(transcription): add status events & progress reporting (task 6.2)
  .kiro/specs/fr-3-transcription/tasks.md
  docs/ARCHITECTURE.md
  speakr-tauri/src/workflow.rs
Due: cargo-fmt-tauri, cargo-clippy-tauri, cargo-test-tauri

feat(cli): enhanced model verification output and documentation
  .kiro/specs/fr-3-transcription/tasks.md
  README.md
  speakr-core/Cargo.toml
  speakr-core/src/bin/models_cli.rs
  speakr-core/src/model/list.rs
  speakr-core/src/model/list_tests.rs
  speakr-core/src/transcription/models.rs
  speakr-types/src/lib.rs
Due: cargo-fmt-core, cargo-clippy-core, cargo-test-core, cargo-test-integration

feat(settings): integrate transcription settings and commands
  .kiro/specs/fr-3-transcription/tasks.md
  speakr-tauri/src/lib.rs
  speakr-tauri/src/settings/commands.rs
  speakr-tauri/src/settings/mod.rs
  speakr-tauri/tests/hotkey_tests.rs
  speakr-tauri/tests/integration_tests.rs
  speakr-tauri/tests/settings_tests.rs
  speakr-types/src/lib.rs
Due: cargo-fmt-tauri, cargo-clippy-tauri, cargo-test-tauri

Path conditions:
  cargo-fmt-core: any of: ^speakr-core/.*\.rs$
  cargo-clippy-core: any of: ^speakr-core/.*\.rs$
  cargo-test-core: any of: ^speakr-core/.*\.rs$
  cargo-fmt-tauri: any of: ^speakr-tauri/.*\.rs$
  cargo-clippy-tauri: any of: ^speakr-tauri/.*\.rs$
  cargo-test-tauri: any of: ^speakr-tauri/.*\.rs$
  cargo-fmt-ui: any of: ^speakr-ui/.*\.rs$
  cargo-clippy-ui: any of: ^speakr-ui/.*\.rs$
  cargo-test-ui: any of: ^speakr-ui/.*\.rs$
  cargo-fmt-workspace: any of: ^(Cargo\.(toml|lock)|\.cargo/.*)$
  cargo-clippy-workspace: any of: ^(Cargo\.(toml|lock)|\.cargo/.*)$
  cargo-test-integration: any of: ^speakr-core/.*\.rs$
